body {
  margin: 0;
}

h3 {
  background: linear-gradient(90deg, #56ab2f, #a8e063);
  width: fit-content;
  font-size: 32px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  line-height: normal;
}

h2 {
  font-size: 52px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  margin: 0;
  line-height: normal;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header img {
  width: 150px;
  height: auto;
  display: flex;
  margin: auto 0;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header ul li {
  width: fit-content;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}
a:hover {
  color: rgb(20, 20, 20);
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #313638;
  color: #f8f8f8;
}
footer img, footer ul {
  width: 25%;
}
footer ul {
  list-style: none;
  padding: 25px 0;
  margin: 0;
}
footer > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #f8f8f8;
}
footer > div p {
  margin: 10px 0;
}
footer > div div {
  height: fit-content;
  margin: 10px 0;
}
footer > div div a:first-child {
  padding-right: 25px;
}
footer > div div a {
  color: #f8f8f8;
}
footer > div div a:hover {
  color: white;
}

.main-page .main-slider {
  position: relative;
  height: 500px;
}
.main-page .slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.main-page .main-slider img:first-child {
  z-index: 2;
}
.main-page div.textbox {
  width: 100%;
  position: relative;
  height: fit-content;
  margin-top: -100px;
  margin-bottom: 100px;
  z-index: 3;
}
.main-page div.textbox div {
  width: 75%;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #4d4d4d;
  padding: 10px 40px;
  border-radius: 10px;
  color: #f8f8f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-page div.textbox img {
  width: 120px;
  height: auto;
  position: absolute;
  right: 10%;     
  bottom: -70px;
}
.contacte form { 
  padding: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}
.contacte form input:not(:last-child), .contacte form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f8f8f8;
}
.contacte form input:not(:last-child):nth-child(2), .contacte form input:not(:last-child):first-child, .contacte form textarea:nth-child(2), .contacte form textarea:first-child {
  width: calc(50% - 35px);
}
.contacte form span {
  display: flex;
  width: 100%;
}
.contacte form span input {
  width: fit-content !important;
  border: 1.5px solid #c4c4c4;
}
.contacte form span label {
  width: 100%;
  margin: auto 0;
  color: #c4c4c4;
}
label[for="tc"]{
  margin-left: 5px !important;
}
.contacte form input[type=submit] {
  background-color: #313638;
  color: #fff;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}
@media (max-width: 500px) {
  .contacte form {
    width: 100%;
  }
}

